includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/test_app
        - tests/e2e/harness
    treatPhpDocTypesAsCertain: false
